<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.12.0" targetFramework="native" />
  <package id="Microsoft.Net.UWPCoreRuntimeSdk" version="2.2.9" targetFramework="native" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.9" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.191217.1" targetFramework="native" />
  <package id="Microsoft.Windows.Ocr" version="1.0.0" targetFramework="native" />
  <package id="runtime.unix.Microsoft.Win32.Primitives" version="4.3.0" targetFramework="native" />
  <package id="runtime.win.Microsoft.Win32.Primitives" version="4.3.0" targetFramework="native" />
  <package id="runtime.win.System.Console" version="4.3.1" targetFramework="native" />
  <package id="runtime.win.System.IO.FileSystem" version="4.3.0" targetFramework="native" />
  <package id="runtime.win.System.Net.Sockets" version="4.3.0" targetFramework="native" />
  <package id="runtime.win.System.Runtime.Extensions" version="4.3.1" targetFramework="native" />
  <package id="runtime.win10-arm.Microsoft.Net.UWPCoreRuntimeSdk" version="2.2.9" targetFramework="native" />
  <package id="runtime.win10-x64.Microsoft.Net.UWPCoreRuntimeSdk" version="2.2.9" targetFramework="native" />
  <package id="runtime.win10-x86.Microsoft.Net.UWPCoreRuntimeSdk" version="2.2.9" targetFramework="native" />
  <package id="runtime.win-x64.Microsoft.NETCore.App" version="2.2.8" targetFramework="native" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="native" />
  <package id="WinSCP" version="5.15.9" targetFramework="native" />
</packages>